@model CapaDominio.entProveedor

@{
    ViewBag.Title = "Buscar Proveedor";
    Layout = "~/Views/masterAlmacen.cshtml";
}
</br>
</br>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Buscar Proveedor</h4>
            </div>
            <div class="panel-body">
                <!-- Tabla de Listar -->
                <form method="post" action="Buscar">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" placeholder="Buscar...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Nombre</th>
                                <th>R. Social</th>
                                <th>RUC</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    @Html.DisplayFor(model => model.idProveedor)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.razonSocial)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.ruc)
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel-footer">
                <form method="get" action="IndexMantProv">
                    <input type="submit" value="Regresar a Opciones" class="btn btn-outline btn-primary" />
                </form>
            </div>
        </div>
    </div>
    <!-- /.col-lg-4 -->
</div>

